.accordion {
    max-width: 400px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0 auto 0;
    border-radius: 3px;
}

.accordion-visible{
    background:rgb(71,77,155);
    color:#fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 17px;
}

.accordion-visible img {
    width:30px;
    transform: rotate(180deg);
    transition:
    transform 0.4s
}
.animated-chevron{
    transform: rotate(0deg) !important;
    transition:
    transform 0.4s
}


.accordion-toggle {
    font-size: 18px;
    opacity: 0;
    background: rgb(245,245,245);
    transition:
    opacity 0.4s ease-in-out,
    height 0.4s 0.4s ease-in-out; 
}

.animated{
    opacity: 1;
    transition:
    height 0.4s ease-in-out,
    opacity 0.4s 0.4s ease-in-out;
}

.accordion-toggle p{
    margin: 0;
    padding: 22px 15px;
    pointer-events: none;
    line-height: 1.3;
} 